.container {
  margin: 20px;
}

.box {
  margin-top: 20px;
  border: solid 1px;
  border-radius: 5px;
  
}

.box[data-noborder]{
  border: 0
}

.warningMsg {
  margin: 20px;
}

.events {
  margin: 5px;
  padding-top: 10px;
  border-top: dotted 1px;
}

input {
  margin-left: 5px;
  margin-right: 5px;
}

li {
  margin-top: 5px;
}

button {
  margin-right: 5px;
}